@model ElectiveTesting.ViewModels.ElectionIndexData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create a new Election", "Create")
</p>
<p>
    @Html.ActionLink("Create Electives", "Index", "Elective")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Participants</th>
        <th>Electives</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Elections)
    {
        string selectedRow = "";
        //if (item.Id == ViewBag.ElectionID)
        //{
        //}    
            selectedRow = "success";
        
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.ApplicationUsers.Count)
            </td>
            
            <td>
                @{
                    foreach (var elective in item.Electives)
                    {
                          @elective.Name <br />
                    }
                }
            </td>

            <td>
                @*@Html.ActionLink("Select", "Index", new { id = item.ID }) |*@
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>